.card {
  border: 1px solid white;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  text-align: center;
  transition: 0.15s all;
}

.card:hover {
  box-shadow: 4px 4px white;
  translate: -4px -4px;
}

.card > h2 {
  font-size: 32px;
}

.card > img {
  border-radius: 16px;
}
